<div class="col-md-9 col-xs-12">
  <mt-menu-item
    *ngFor="let item of menus | async"
    [menuItem]="item"
    (add)="addMenuItem($event)">
  </mt-menu-item>
</div>

<div class="col-md-3 col-xs-12">
  <mt-shoping-cart></mt-shoping-cart>
</div>
